<% provide(:title, "Home green") %>

<div class="center jumbotron">

<% 
  title_parts = yield(:title).split(' ')
  page_title = title_parts[0]
  text_color = title_parts[1] || 'black'
%>

  <h1 class="text-<%= text_color %>">Welcome to the Sample App</h1>

  <h2 class="text-<%= text_color %>">
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <div>
    <% if @users && @users.exists? %>
      <h3>Пользователи:</h3>
      <div>
        <% @users.each do |user| %>
          <div class="card-body">
            <h5><%= user.name %></h5>
            <p><%= user.email %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo", class: "image"),
            'http://rubyonrails.org/' %>
